.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 176, 245);
  height: 50vh;
  width: 45%;
  margin-top: 20vh;
  margin-left: 58vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgb(45, 45, 250);
  color: white;
  width: 25vh;
  border-radius: 15px;
  font-size: 10vh;
  font-weight: 700;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.positive{
  background-color: green;
}
.negative{
  background-color: red;
}

.increment{
  padding-left: 5vh;
  font-size: 10vh;
  color: rgb(132, 132, 247);
  cursor: pointer;
  
}
.increment::selection{
  outline: none;
}

.decrement{
  padding-right: 5vh;
  font-size: 10vh;
  color: rgb(132, 132, 247);
  cursor: pointer;
}
.decrement::selection{
  outline: none;
}